header{
    background-color: grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.img-container{
    position: absolute;
    left: 0;

}
.header-text{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.main-container{
    background-color: aquamarine;
    min-height: 600px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.left-container{
    width: 35%;
    background-color: black;
    border-radius: 20px;

}
.right-container{
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content: space-between;

}
.right-center{
    gap: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35%;

}
.right-last{
    background-color: black;
    border-radius: 20px;
    height: 30%;

}
.a{
    width: 30%;
    height: 70px;
    background-color: black;
    border-radius: 20px;
    height: 100%;

}
.right-top{
    align-items: center;
    height: 20%;
    display: flex;
    justify-content: center;


}
.search{
    display: flex;
    height: 72%;
    width: 70%;
    background-color: black;
    border-radius: 20px;
    align-items: center;
    padding: 20px;
}
.search-text{
    color: red;

}
